

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: linear-gradient(to bottom, white, #b3e6ff);
  }

.gallery {
  width: 960px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 300px;
  transition: 1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: s transform;
}

h1 {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: skyblue;
  text-shadow: 2px 2px black;
}

h2 {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

a:link {
    text-decoration: none;
    color: skyblue;
}
a:visited {
    color: #8388a0;
}
a:hover {
    color: #0638c1;
}

p {
margin-bottom: 100px;
}
