/* stylesheet for dpk portfolio website */

/* makes background fade to bottom from white to a #b3e6ff */

body {
    background: linear-gradient(to bottom, white, #b3e6ff);
    }

/* Text color and shading for H1 elements */
h1 {
  font-family: georgia;
    color: skyblue;
    text-shadow: 2px 2px black;
}

/* Text color and shading for H4 elements */
h4 {
  font-family: georgia;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 1px 1px black;
    }

p {
  font-family: georgia;
  color: cornflowerblue;
  margin-bottom: 100px;
}

/*puts navbar inline with header*/
.display-2,
.navbar {
  display: inline-block;
}
/*text effects for hyperlinks*/

a:link {
    text-decoration: none;
    color: cornflowerblue;
}
a:visited {
    color: #8388a0;
}
a:hover {
    color: #0638c1;
}

.email {
  font: courier;
  font-size:16px;
  text-shadow: 1px 1px lightblue;
  }

.custom {
  font-family: georgia;
  font-size:16px;
  color:cornflowerblue;
  text-shadow: 1px 1px lightblue;
}
